.remote{position:relative;height:100%}
.login{position:absolute;top:50%;left:50%;width:300px;margin-left:-150px;padding:20px;border:1px solid #ddd;border-radius:5px;background-color:#f7f7f7;transform:translateY(-50%)}
.login h5{text-align:center}